version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
        POSTGRES_USER: ${DB_USERNAME}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
        POSTGRES_DB: helpdesk_api
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
        - "5434:5432"
  api:
    build: .
    expose:
      - "8080"
    depends_on:
      - postgres
    env_file:
        - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/helpdesk_api
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/actuator/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api
volumes:
    postgres_data: